@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.bg {
  background-color: #0282F9;
}

.bg .header-top {
  height: 25px;
  line-height: 25px;
}

.bg .header-top .list-line {
  text-align: end;
}

.bg .header-top .list-line li {
  display: inline-block;
}

.bg .header-top .list-line li a {
  padding-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFF;
}

.header-nav {
  height: 100px;
  display: flex;
  align-items: center;
}

.header-nav .wrapper-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-nav .wrapper-header-nav .logo > img {
  width: 70px;
  align-items: center;
}

.header-nav .menu {
  display: flex;
}

.header-nav .menu li {
  padding: 0 10px;
}

.header-nav .menu li a {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.header-nav .menu li a.active {
  color: #0282F9;
  /* border-bottom: 2px solid $secondColor; */
}

.header-nav .menu li a:hover {
  color: #0282F9;
}

.jumbotron {
  height: 450px;
  background-image: url("/img/jumbotron.jpg");
}

main {
  padding: 40px 0;
  background-color: #1C1C1C;
  position: relative;
}

main .current {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 15px 30px;
  background-color: #0282F9;
  color: #FFFF;
  text-transform: uppercase;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

main .cards .card {
  width: calc(100% / 6 - 20px);
  margin: 10px 10px;
}

main .cards .card:hover p {
  color: #0282F9;
}

main .cards .card:hover {
  cursor: pointer;
}

main .cards .card p {
  width: 90%;
  font-size: 14px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #FFFF;
}

main .btn {
  width: 100%;
  text-align: center;
}

main .btn a {
  padding: 10px 50px;
  font-size: 12px;
  font-weight: 700;
  background-color: #0282F9;
  text-transform: uppercase;
  color: #FFFF;
}

main .btn a:hover {
  background-color: rgba(2, 130, 249, 0.8);
}

.shop {
  height: 150px;
  background-color: #0282F9;
}

.shop .section-shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.shop .section-shop .single {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.shop .section-shop .single img {
  height: 40%;
}

.shop .section-shop .single p {
  margin-left: 10px;
  font-size: 14px;
  color: #FFFF;
  text-transform: uppercase;
}

.footer-main {
  height: 450px;
  position: relative;
  z-index: -1;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-main .wrapper-footer {
  display: flex;
}

.footer-main .wrapper-footer .link {
  width: 50%;
  margin: 30px 0;
}

.footer-main .wrapper-footer .link .menu-footer:first-child {
  font-size: 16px;
  font-weight: 700;
  color: #FFFF;
}

.footer-main .wrapper-footer .link .menu-footer:first-child li:not(:first-child) {
  padding: 3px 0;
}

.footer-main .wrapper-footer .link .menu-footer:first-child li:not(:first-child) a {
  font-size: 14px;
  color: #797979;
  font-weight: 100;
}

.footer-main .wrapper-footer .DC-logo > img {
  -o-object-position: 0 -60px;
     object-position: 0 -60px;
}

.footer-social {
  display: flex;
  height: 150px;
  background-color: #303030;
}

